.App {
  text-align: center;
  margin-inline: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.search_bar {
  margin-bottom: 5px;
}

.product {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  margin: 2px;
}

.product_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product_info .product_img {
  width: 300px;
  height: 400px;
}

.cart {
  width: 500px;
  padding: 20px;
}

.cart_button {
  position: fixed;
  z-index: 100;
  right: 8%;
  top: 20px;
  border: none;
  background-color: transparent;
}

.cart_item {
  flex: 1;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.cart_item div {
  flex: 1;
}

.cart_update_amount, .cart_item_info {
  display: flex;
  justify-content: space-between;
  margin-inline: 25%;
}

.cart_img {
  max-width: 100px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_info .rating {
  justify-content: left;
}

.product_title:hover {
  color: rgb(187, 69, 91);
}